{% extends 'layout.html' %}

{% block content %}

    <form method="POST" action="/contact/?id={{ row.id }}&method='edit'">
    <div class="form-row">
        <div class="form-row col-md-12">
            {% csrf_token  %}
        </div>
    </div>
  <div class="form-row">
      <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input name="name" type="text" class="form-control" id="inputName" placeholder="Name" value="{{ row.name }}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" value="{{ row.email }}">
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputAddress">Address</label>
        <input name="address" type="text" class="form-control" id="inputAddress" value="{{ row.address}}">
      </div>
    <div class="form-group col-md-5">
      <label for="inputCity">City</label>
      <input name="city" type="text" class="form-control" id="inputCity" value="{{ row.city }}">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input name="zipcode" type="text" class="form-control" id="inputZip" value="{{ row.zipcode }}">
    </div>
  </div>
  <button name="submit" type="submit" class="btn btn-primary">Update Record</button>
</form>


{% endblock %}
