{% extends 'layout.html' %}
{% load static %}
{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        
          <a class="nav-link" href="contact/">Sign Up</a>
        </li>
      <li class="nav-item"></li>
        <a class="nav-link" href="#">Our Activity<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="about/">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Career</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notice Board
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="about.html">Action</a>
          <a class="dropdown-item" href="contact.html">Another action</a>
          <a class="dropdown-item" href="index.html">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<p><h1>রঙিন পাঠশালা</h1></p> 
<section>
  <div>
    <br> 
    <p><block>আমরা মানুষ।
      শুধু নামে নয়, কাজেও মানুষ হওয়া জরুরী।</block>

      <span>সুবিধাবঞ্চিত শিশুদের মাঝে শিক্ষার আলো পৌছে দেয়ার জন্য স্পৃহা'র একটি কার্যক্রম "রঙিন পাঠশালা"  <br> 
        
        <block>"রঙিন পাঠশালা" আমার কাছে স্বপ্ন ও বাস্তবতার একটি সংমিশ্রণ । যেখানে নির্মম পরিস্থিতির স্বীকার কিছু শিশু নিজের লক্ষ্যে পৌঁছানোর অদম্য ইচ্ছাশক্তি আর এক বুক আশা নিয়ে আসে। নিজের আত্ম বিশ্বাস বেড়েছে এখানে এসে, যখন দেখেছি সমাজের অন্ধকারে পড়ে থাকা কিছু ছোট্ট শিশু একটু সুযোগ পেয়ে নিজেদের সকল বাঁধাকে জয় করার চেষ্টা করছে ! একজন স্বেচ্ছাসেবিকা, কর্মী বা শিক্ষিকা হিসেবে আমার যোগ্যতার পরিমাণ স্বল্প হওয়া সত্ত্বেও শিশুগুলোর ভালোবাসা , তাদের প্রচেষ্টা - আমাকে সাহস যোগায়। সমাজের প্রতি, দেশের প্রতি এবং এই উজ্জ্বল হাসিগুলোর প্রতি যে টান অনুভব করি, সে কারণেই এই পাঠশালায় আসি। শিশুগুলো যেনো তাদের মেধা দিয়ে, ইচ্ছাশক্তি দিয়ে উন্নতির চরম শিখরে পৌঁছাতে পারে, স্বপ্নকে সত্যি করতে পারে এটাই চাওয়া । </block>
      </span></p> 
   </div> 
</section>
      

    
<a href="members/"> <button name="submit" style="color: whitesmoke; border: skyblue; background: salmon;" type="submit" class="btn btn-primary">সমর্থন করুন</button> </a>

{% endblock %}